@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}

header nav ul {
    display: flex;
    width: 30%;
    margin: 0 auto;
    list-style: none;
    color: crimson;
}
nav ul li a {
    text-decoration: none;
    display: inline-block;
    color: crimson;
    text-transform: uppercase;
    padding: 30px;
}

main {
    max-width: 60%;
    margin: 0 auto;
    text-align: center;
    line-height: 2;
}

main img:first-child {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto;
}
#projects {
    height: 500px;
    background: url("../images/charts-data-desk-669615.jpg") no-repeat;
}
.project {
    text-transform: uppercase;
    text-align: center;
    overflow: hidden;
    color : darkturquoise;
}
.projos {
    text-transform: uppercase;
    text-align: center;
    color: darkturquoise;
}
.project > h3 :first-child {
    margin-top: 30px;
    color: darkturquoise;
}
.box > img {
    box-shadow: 1px 0 5px 0 dimgray;
    
}
.text {
    display: flex;
    justify-content: center;
}
.words {
    width: 450px;
    text-align: justify;
    line-height: 40px;
    margin-left: 50px;
    background-color: rgb(92, 58, 58);
    color: goldenrod;
    box-shadow: 2px 2px 2px 2px black;
}

form {
    width: 20%;
    margin: 0 auto;

}

input, textarea {
    display: block;
    width: 100%;
    border-radius: 5px;
    border: 1px solid red;
    margin-top: 30px;
    padding: 10px;
}

.btn {
    border: 1px solid red;
    color: red;
    padding: 10px;
    display: block;
    margin-top: 30px;
    width: 20%;
    text-decoration: none;
    font-weight: 700;
}

