header nav ul {
    display: flex;
    width: 30%;
    margin: 0 auto;
    list-style: none;
    color: crimson;
}
nav ul li a {
    text-decoration: none;
    display: inline-block;
    color: crimson;
    text-transform: uppercase;
    padding: 30px;
}

main img:first-child {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto;
}
